<h1>Generate your passwords with a Hash</h1>
<label for="master">Master Password</label>
<input type="password" id="master" title="Enter your Master Password">
<label id="password-strength" for="master"></label>

<%= link_to 'simple', '#', :title => "hide advanced", :onclick => "hideAdvanced()", :class => "advanced ui-icon ui-icon-carat-1-w" %>
<%= link_to 'advanced', '#', :title => "show advanced", :onclick => "showAdvanced()", :class => "expandAdvanced ui-icon ui-icon-carat-1-e" %></th> 

<% if current_user %>
  <h2>Places <%= link_to ' ', new_user_place_path(current_user), :title => "add place", :class => "ui-icon ui-icon-plusthick" %> </h2>
  <table>
    <thead>
      <tr> 
        <th class="placeName">Name</th> 
        <th class="placeDesc">Notes</th> 
        <th class="placeHashTimes advanced">Strength</th> 
        <th class="placePassLength advanced">Length</th> 
        <th class="placeEncodingChars advanced">Allowed Characters</th> 
        <th class="placeButtons">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td class="placeName" onclick="hashit('<%= place.name %>', <%= place.hash_times %>, '<%= place.encoding_chars %>', <%= place.pass_length %>)"><%= place.name %></td>
          <td class="placeDesc"><%= place.description %></td>
          <td class="placeHashTimes advanced"><%= place.hash_times %></td>
          <td class="placePassLength advanced"><%= place.pass_length %></td>
          <td class="placeEncodingChars advanced"><%= place.encoding_chars %></td>
          <td class="placeButtons"><%= link_to ' ', user_place_path(place.user, place), :title => "delete place", :class => "ui-icon ui-icon-close", :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>

  <p class="anonymous"><label for="placeInput">Either sign in (at the top right) to access your saved list of places, <br />or<br /> enter a place here (example: "facebook" or "http://facebook.com")</label>
  <input type="text" id="placeInput" />
  </p>

  <p class="advanced anonymous"><label for="hashTimesInput">Number of times to hash the value - More times is arguably more secure, but takes longer</label>
  <input type="text" id="hashTimesInput" value="1000" />
  </p>

  <p class="advanced anonymous"><label for="passLengthInput">Length of the password to generate</label>
  <input type="text" id="passLengthInput" value="16" />
  </p>

  <p class="advanced anonymous"><label for="encodingInput">The characters that may be used in the output</label>
  <input type="text" id="encodingInput" value="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890" />
  </p>

  <input type="button" onclick="hashit($('#placeInput').val(), $('#hashTimesInput').val(), $('#encodingInput').val(), $('#passLengthInput').val())" value="hash it"/>
<% end %>

<div id="hashedPassContainer">
  <span id="hashedPassLabel">Hashed Pass:</span>
  <span id="hashedPass">blankity</span>
  <%= link_to ' ', '#', :title => "reset", :onclick => "resetHasher('blankity')", :class => "ui-icon ui-icon-arrowreturnthick-1-n" %>
</div>
