<h1>Generate your passwords with a Hash</h1>

<div class="masterPassword">
  <label id="masterLabel" for="master">Master Password</label>
  <input type="password" id="master" title="Enter your Master Password">
  <label id="password-strength" for="master"></label>
</div>

<% if current_user %>
  <h2>Places <%= link_to ' ', new_user_place_path(current_user), :title => "add place", :class => "ui-icon ui-icon-plusthick" %> </h2>
  <table class="places">
    <thead>
      <tr> 
        <th>Name</th> 
        <th>Notes</th> 
        <th class="advanced">Strength</th> 
        <th class="advanced">Length</th> 
        <th class="advanced">Allowed Characters</th> 
        <th class="placeButtons">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td class="placeName" onclick="hashit('<%= place.name %>', <%= place.hash_times %>, '<%= place.encoding_chars %>', <%= place.pass_length %>)"><%= place.name %></td>
          <td class="placeDesc"><%= place.description %></td>
          <td class="placeHashTimes advanced"><%= place.hash_times %></td>
          <td class="placePassLength advanced"><%= place.pass_length %></td>
          <td class="placeEncodingChars advanced"><%= place.encoding_chars %></td>
          <td class="placeButtons"><%= link_to ' ', user_place_path(place.user, place), :title => "delete place", :class => "ui-icon ui-icon-close", :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<div class="buttons">
<% else %>

  <p class="anonymous">Either sign in (at the top right) to access your saved list of places, 
    <div class="OR" >or</div>
    <label for="placeInput">Enter a place</label>
    <input type="text" id="placeInput" value="ex: facebook or http://facebook.com" size="36"/>
  </p>

  <p class="advanced anonymous"><label for="hashTimesInput">Number of times to hash the value - More times is arguably more secure, but takes longer</label>
  <input type="text" id="hashTimesInput" value="1000" />
  </p>

  <p class="advanced anonymous"><label for="passLengthInput">Length of the password to generate</label>
  <input type="text" id="passLengthInput" value="16" />
  </p>

  <p class="advanced anonymous"><label for="encodingInput">The characters that may be used in the output</label>
  <input type="text" id="encodingInput" value="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz1234567890" />
  </p>

<div class="buttons">
  <button onclick="hashit($('#placeInput').val(), $('#hashTimesInput').val(), $('#encodingInput').val(), $('#passLengthInput').val())" >hash it</button>
<% end %>

  <button title="reset form" onclick="resetHasher('blank')" class="reset">reset</button>

  <button title="hide advanced" onclick="hideAdvanced()" class="makeAdvancedToggle advanced">simple</button>
  <button title="show advanced" onclick="showAdvanced()" class="makeAdvancedToggle expandAdvanced">advanced</button> 
</div>


<div id="hashedPassContainer">
  <span id="hashedPassLabel">Hashed Pass:</span>
  <span id="hashedPass">blank</span>
</div>
