<%= form_for([@place.user, @place]) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :hash_times %><br />
    <%= f.text_field :hash_times %>
  </div>
  <div class="field">
    <%= f.label :pass_length %><br />
    <%= f.text_field :pass_length %>
  </div>
  <div class="field">
    <%= f.label :encoding_chars %><br />
    <%= f.text_field :encoding_chars %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
