<!DOCTYPE html>
<html>
<head>
  <title>Pass Hasher</title>
  <%= stylesheet_link_tag :all %>
  <!-- jshash-2.2/md5.js for md5 instead of sha 256-->
  <%= javascript_include_tag :defaults, "jquery.passwordStrengthMeter.js", "jshash-2.2/sha256.js" %>
  <%= csrf_meta_tag %>
</head>

<body>
  <span id="mainLogo">Pass Hasher</span>
  <%= render "shared/security_block" %>
  <%= render "shared/notices" %>

  <div id="tabs">
	<ul>
      <li><a href="#app">Get Started</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#features">Features and Todo</a></li>
	</ul>

	<div id="app">
      <%= yield %>
    </div>

	<div id="about">
      <%= render "shared/about" %>
    </div>

	<div id="features">
      <%= render "shared/todo" %>
    </div>
  </div>

  <div id="footer">
    <p>Brought to you by <a href="http://bowerstudios.com">BowerStudios.com</a><p>
  </div>
</body>
</html>
